//Primary colors
$black: #0c1e1a;
$yellow: #ffb923;
$light-gray: #dfdfdf;
$medium-gray: #888888;
$dark-gray: #3b3b3b;
$white: #ffffff;
$blue: #004aad;

//media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
